@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/breakpoints' as *;

.nav {
  background-color: $clr-white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  padding-top: $padding-base * 8.4;
  padding-bottom: $padding-base * 3.5;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity $transition, visibility $transition;

  @include flex($align-items: $align-center);

  @include position($position: $p-absolute, $left: 0, $right: 0, $top: 9.6rem);

  @include mobile {
    padding-top: $padding-base * 10.8;
    padding-bottom: $padding-base * 6.7;
  }

  @include tablet {
    display: none;
  }

  &__visible {
    opacity: 1;
    visibility: visible;
  }
}
