@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/breakpoints' as *;

.others {
  padding-bottom: $padding-base * 17;

  @include tablet {
    padding-bottom: $padding-base * 24;
  }

  h3 {
    margin-bottom: $margin-base * 4;
    text-align: $align-center;

    @include mobile {
      margin-bottom: $margin-base * 5.6;
    }

    @include tablet {
      margin-bottom: $margin-base * 6.4;
    }
  }

  &__items {
    display: $d-grid;
    grid-template-columns: 1fr;
    column-gap: $gap-base * 1;
    row-gap: $gap-base * 5.6;

    @include mobile {
      grid-template-columns: repeat(3, 1fr);
    }

    @include tablet {
      column-gap: $gap-base * 3;
    }
  }

  &__item {
    text-align: $align-center;

    h5 {
      margin: $margin-base * 3.2 0;

      @include mobile {
        margin: $margin-base * 4 0 $margin-base * 3.2;
      }
    }
  }
}
