@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/breakpoints' as *;

.product {
  display: $d-grid;
  grid-template-columns: max-content 1fr;
  column-gap: $gap-base * 1.6;
  justify-content: $justify-center;
  align-items: $align-center;

  img {
    border-radius: $radius-base;
  }

  &__content {
    @include flex($justify-content: $justify-between);
  }

  &__name,
  &__price {
    font-weight: $fw-bold;
    text-align: start;
  }

  &__price {
    opacity: 0.5;
  }

  &__amount {
    width: 9.6rem;
    height: 3.2rem;
    align-self: $align-center;
  }

  &__qty {
    opacity: 0.5;
  }
}
