@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/breakpoints' as *;

.summary {
  &__cart {
    position: $p-sticky;
    top: 3rem;
    padding: $padding-base * 3.2;
    background-color: $clr-white;
    border-radius: $radius-base;

    button {
      width: $width-base;
    }
  }
}
