@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/breakpoints' as *;

.addToCart {
  display: $d-grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: $align-center;
  text-align: $align-center;
  width: 12rem;
  background-color: $clr-light;
  border: 1px solid $clr-light;

  button {
    height: $height-base;
    background-color: transparent;
    color: rgba($clr-black, 0.25);
    font-size: $fs-h4;

    &:hover {
      color: $clr-primary;
      background-color: darken($clr-light, 5%);
    }
  }

  span {
    font-size: $fs-base;
    font-weight: $fw-bold;
  }
}
