@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/breakpoints' as *;

.products {
  display: $d-grid;
  row-gap: $gap-base * 2.4;
  grid-template-rows: 60rem 32rem 42.4rem;

  @include mobile {
    grid-template-rows: 72rem repeat(2, 32rem);
    row-gap: $gap-base * 3.2;
  }

  @include tablet {
    grid-template-rows: 56rem repeat(2, 32rem);
    row-gap: $gap-base * 4.8;
  }

  .zx9 {
    display: $d-grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
    background-color: $clr-primary;
    background-image: url('../../../public/assets/home/desktop/pattern-circles.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20rem;
    background-position-x: center;
    border-radius: 8px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      background-position: -8rem -3rem;
      background-size: 80%;
    }

    &__image {
      max-width: 20rem;
      align-self: $align-center;
      justify-self: $justify-center;

      @include tablet {
        max-width: 38rem;
        align-self: $align-end;
        justify-self: $justify-end;
      }

      img {
        display: $d-block;
        width: $width-base;
        transform: translateY(0.7rem);
      }
    }

    &__text {
      align-self: $align-center;
      justify-self: $justify-center;
      text-align: center;
      width: $width-base;
      max-width: 32rem;

      @include tablet {
        text-align: inherit;
      }

      h1 {
        color: $clr-white;
      }

      p {
        margin: $margin-base * 2.4 0 $margin-base * 4;
        color: $clr-white;
      }
    }
  }

  .zx7 {
    @include flex($align-items: $align-center);

    background-image: url('../../../public/assets/home/mobile/image-speaker-zx7.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    padding-left: $padding-base * 2.4;

    @include mobile {
      background-image: url('../../../public/assets/home/tablet/image-speaker-zx7.webp');
      padding-left: $padding-base * 6.2;
    }

    @include tablet {
      background-image: url('../../../public/assets/home/desktop/image-speaker-zx7.webp');
      padding-left: $padding-base * 9.5;
    }

    h4 {
      margin-bottom: $margin-base * 3.2;
    }
  }

  .yx1 {
    display: $d-grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: $gap-base * 3;
    row-gap: $gap-base * 2.4;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }

    &__image {
      background-image: url('../../../public/assets/home/mobile/image-earphones-yx1.webp');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 8px;

      @include mobile {
        background-image: url('../../../public/assets/home/tablet/image-earphones-yx1.webp');
      }

      @include tablet {
        background-image: url('../../../public/assets/home/desktop/image-earphones-yx1.webp');
      }
    }

    &__text {
      @include flex(
        $align-items: $align-center,
        $justify-content: $justify-center
      );

      background-color: #f1f1f1;
      border-radius: 8px;
      padding-left: 0;

      @include mobile {
        padding-left: 0;
      }

      @include tablet {
        padding-left: $padding-base * 9.5;
      }

      h4 {
        margin-bottom: $margin-base * 3.2;
      }
    }
  }
}
