@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/breakpoints' as *;

.category {
  display: $d-grid;
  padding-bottom: $padding-base * 2.2;
  background-color: $clr-light;
  border-radius: 8px;
  width: $width-base;
  height: 16.5rem;
  position: $p-relative;

  @include tablet {
    height: 20rem;
    padding-bottom: $padding-base * 3;
  }

  &__image {
    justify-self: $justify-center;
    position: $p-absolute;

    transform: translateY(-50%);
    transition: transform $transition;

    &::after {
      content: '';
      width: 12rem;
      height: 1.8rem;
      background: $clr-black;
      filter: blur(2.6rem);
      transition: all $transition;
      transform: translateX(50%);

      @include position($position: $p-absolute, $bottom: 0, $right: 50%);
    }
  }

  &__text {
    align-self: $align-end;
    row-gap: $gap-base * 1.5;

    @include flex($flex-direction: column, $align-items: $align-center);
  }

  @media (hover: hover) {
    &:hover {
      span {
        color: $clr-primary;
      }
      .category__image {
        transform: translateY(-60%);
        &::after {
          transform: translateY(80%) translateX(50%);
          filter: blur(2.5rem);
          width: 10rem;
        }
      }
    }
  }

  // @include tablet {
  //   height: auto;
  // }
  // &__image {
  //   transform: translateY(50%);
  //   transition: transform $transition;
  //   height: 12rem;
  //   @include flex($flex-direction: column, $align-items: $align-center);
  //   @include tablet {
  //     height: 18rem;
  //   }
  //   img {
  //     width: 100%;
  //     object-fit: contain;
  //   }
  //   &::after {
  //     content: '';
  //     width: 12rem;
  //     height: 1.8rem;
  //     background: $clr-black;
  //     filter: blur(3.5rem);
  //     transition: transform $transition;
  //   }
  // }
  //   &__text {
  //     @include flex($flex-direction: column, $justify-content: $justify-end);
  //     background-color: $clr-light;
  //     height: 16.5rem;
  //     padding-bottom: $padding-base * 2.2;
  //     @include tablet {
  //       height: 20rem;
  //       padding-bottom: $padding-base * 3;
  //     }
  //     h6 {
  //       margin-bottom: $margin-base * 1.5;
  //     }
  //     span {
  //       align-self: $align-center;
  //     }
  //   }
  //   @media (hover: hover) {
  //     &:hover {
  //       span {
  //         color: $clr-primary;
  //       }
  //       .category__image {
  //         transform: translateY(40%);
  //         &::after {
  //           transform: translateY(80%);
  //         }
  //       }
  //     }
  //   }
}
