@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/breakpoints' as *;

.wrapper {
  position: relative;
}

.cart {
  width: 100%;
  max-width: 37.7rem;
  padding: $padding-base * 3.2 $padding-base * 2.8;
  background-color: $clr-white;
  z-index: 10;
  border-radius: $radius-base;
  transform: translateX(50%);

  @include position($position: $p-absolute, $top: 2.4rem, $right: 50%);

  &__home {
    top: 12rem;

    @include tablet {
      top: 12.8rem !important;
    }
  }

  @include mobile {
    right: 2.4rem;
    transform: translateX(0);
  }

  @include tablet {
    top: 3.2rem;
  }

  @include large-laptop {
    right: 0;
  }

  &__qty {
    @include flex($justify-content: $justify-between);
  }

  &__remove {
    background-color: transparent;
    text-transform: capitalize;

    @include font($font-weight: $fw-medium, $line-height: 2.5rem);

    text-decoration-line: underline;
    opacity: 0.5;
    transition: color $transition;

    &:hover {
      color: $clr-primary;
    }
  }

  &__products {
    display: $d-grid;
    justify-content: $justify-center;
    align-items: $align-center;
    row-gap: $gap-base * 2.4;
    padding: $padding-base * 3.2 0;
  }

  &__total {
    @include flex($justify-content: $justify-between);

    margin-bottom: $margin-base * 2.4;

    p {
      text-transform: uppercase;
      opacity: 0.5;
    }
  }

  &__link {
    width: $width-base;
  }
}
