@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/breakpoints' as *;

.hero {
  padding: $padding-base * 3.2 0;
  color: $clr-white;
  background-color: $clr-black;

  @include flex($align-items: $align-center, $justify-content: $justify-center);

  @include mobile {
    padding: $padding-base * 9.8 0;
  }
}
