@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.label {
  @include font(
    $font-size: 1.2rem,
    $font-weight: $fw-bold,
    $line-height: 1.6rem
  );

  display: $d-grid;
  row-gap: 9px;
  text-transform: capitalize;
}

.input {
  padding: $padding-base * 1.8 $padding-base * 2.4;
  background-color: $clr-white;
  border: 1px solid $clr-input-border;
  border-radius: $radius-base;
  caret-color: $clr-primary;
  transition: border-color $transition;
  outline: none;

  @include font(
    $font-size: $fs-micro,
    $font-weight: $fw-bold,
    $line-height: 1.9rem
  );

  &::placeholder {
    color: rgba($clr-black, 0.4);
  }

  &:focus,
  &:active {
    border-color: $clr-primary;
  }

  &:hover {
    border-color: $clr-primary;
  }
}

.radio {
  @include flex($align-items: $align-center, $justify-content: $justify-end);

  flex-direction: row-reverse;
  padding: $padding-base * 1.8 0 $padding-base * 1.8 $padding-base * 1.6;
  cursor: pointer;
  border: 1px solid $clr-input-border;
  border-radius: $radius-base;
  transition: border-color $transition;
  font-size: $fs-micro;

  input {
    opacity: 0;
    &:checked + span::after {
      opacity: 1;
    }
  }

  span {
    @include flex(
      $justify-content: $justify-center,
      $align-items: $align-center
    );

    width: 2rem;
    height: 2rem;
    border: 1px solid $clr-input-border;
    border-radius: $radius-round;

    &::after {
      content: '';
      width: 1rem;
      height: 1rem;
      border-radius: $radius-round;
      background-color: $clr-primary;
      opacity: 0;
      transition: opacity $transition;
    }
  }

  &:hover {
    border-color: $clr-primary;
  }
}
