@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/breakpoints' as *;

.nav {
  display: none;
  color: $clr-white;

  &__list {
    display: $d-flex;
    column-gap: $gap-base * 3.4;
  }

  .link {
    text-transform: uppercase;
    transition: color $transition;
    letter-spacing: $ls-base * 1;

    @include font(
      $font-size: $fs-nano,
      $line-height: 2.5rem,
      $font-weight: $fw-bold
    );

    &__active {
      color: $clr-primary;
    }

    &:hover {
      color: $clr-primary;
    }
  }

  @include tablet {
    display: inherit;
  }
}
