@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/breakpoints' as *;

.gallery {
  padding-top: $padding-base * 6.5;
  padding-bottom: $padding-base * 6.5;
  display: $d-grid;
  grid-template-columns: 1fr 1.5fr;
  gap: $gap-base * 2;

  @include mobile {
    padding-top: $padding-base * 12;
    padding-bottom: $padding-base * 12;
  }

  @include tablet {
    padding-top: $padding-base * 16;
    padding-bottom: $padding-base * 16;
    gap: $gap-base * 3;
  }

  &__first {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    @include mobile {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  &__second {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    @include mobile {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

  &__third {
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    @include mobile {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  }

  img {
    height: $height-base;
  }
}
