@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.overlay {
  @include position($position: $p-absolute, $top: 9.6rem, $left: 0, $right: 0);

  @include wh();

  z-index: 5;
  background-color: rgba($clr-black, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity $transition, visibility $transition;

  &__visible {
    opacity: 1;
    visibility: visible;
  }
}
